!*.font: xft:Hack:pixelsize=12
!*.boldFont: xft:Hack:style=bold:pixelsize=12
*.font: xft:SpaceMono Nerd Font Mono:pixelsize=12
*.boldFont: xft:SpaceMono Nerd Font Mono:style=bold:pixelsize=12

! --------- Xft --------- 
! HiDPI 
Xft.dpi: 192
! Standard DPI
!Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight
Xcursor.size: 32

! --------- ROFI ----------
rofi.font: SpaceMono Nerd Font Mono 12

! --- ~/.Xresources ------------------------------------------------------------
! ------------------------------------------------------------------------------
! --- generated with 4bit Terminal Color Scheme Designer -----------------------
! ------------------------------------------------------------------------------
! --- http://ciembor.github.com/4bit -------------------------------------------
! ------------------------------------------------------------------------------

! --- special colors ---

*background: #0d1926
*foreground: #d9e6f2

! --- standard colors ---

! black
*color0: #000000

! bright_black
*color8: #262626

! red
*color1: #944b5c

! bright_red
*color9: #ddbcc3

! green
*color2: #5c944b

! bright_green
*color10: #c3ddbc

! yellow
*color3: #94834b

! bright_yellow
*color11: #ddd5bc

! blue
*color4: #4b5c94

! bright_blue
*color12: #bcc3dd

! magenta
*color5: #834b94

! bright_magenta
*color13: #d5bcdd

! cyan
*color6: #4b9483

! bright_cyan
*color14: #bcddd5

! white
*color7: #d8d8d8

! bright_white
*color15: #ffffff

! ------------------------------------------------------------------------------
! --- end of terminal colors section -------------------------------------------
! ------------------------------------------------------------------------------
